<h1> Add your own article </h1>
<form method="POST" action="/articles">
 <label for="article_title">Article Title: </label>
 <input type="text" name="article_title"><br>

 <label for="article_description">Description: </label>
 <input type="text" name="article_description"><br>

 <label for="article_url">URL: </label>
 <input type="text" name="article_url"><br>

 <button type="submit">Submit</button>
</form>
